body, html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

.container{
	height:100%;
	display:grid;
	margin-right: 4%;
	margin-left: 4%;
	grid-template-columns: 6fr 3fr;
	grid-template-rows: 2fr 1fr 4fr 5fr 5fr 2fr;
	grid-template-areas: "header header" "menu menu" "noticias noticias" "main aside" "main2 aside" "footer footer";
}

header{
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "logo pesquisa promo";
	text-align:center;
	align-items: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

#logo{
	grid-area: logo;
	justify-content: start;
	padding-right: 50%;
}

#logo a{
	text-decoration: none;
	color: #1087ff;
	
}

#pesquisa{
	grid-area: pesquisa;
}

.pesquisa2{
	border: 1px solid lightgray;
	border-radius: 5px;
	font-family: Source Sans Pro,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	
}

.iconePesquisa{
	margin-left: 20px;
	margin-right: -20px;
	color: rgba(0,0,0,0.6);
}

.inputPesquisa{
	box-sizing: border-box;
	margin: 0;
	overflow: visible;
	-webkit-appearance: textfield;
	outline-offset: -2px;
	background-clip: padding-box;
	color: inherit;
	display: block;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 8px 16px;
	width: 100%;
	background-color: var(--search-input-background);
	border: 1px solid var(--search-input-border);
	border-radius: 4px;
	box-shadow: 0 0 0 0 #fff;
	transition: box-shadow .2s ease,border-color .2s ease,background-color .2s ease;
	padding-left: 48px;
}

#promo{
	grid-area: promo;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-content: center;
	
}
#promo a{
	text-decoration: none;
	
}

.black{
	color: rgba(0,0,0,0.7);
	font-family: Source Sans Pro,sans-serif;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	align-items: center;
	margin-left: auto;
	display: flex;
}

.friday{
	font-family: Source Sans Pro,sans-serif;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	background-color: #00893c;
	border-radius: 9999px;
	display: block;
	height: 8px;
	position: relative;
	width: 8px;
}

.black2{
	font-family: Source Sans Pro,sans-serif;
	
	font-weight: 400;
	box-sizing: border-box;
	line-height: 16px;
	margin-left: 16px;
}

.friday2{
	font-family: Source Sans Pro,sans-serif;
	
	font-weight: 400;
	line-height: 16px;
	box-sizing: border-box;
	background-color: initial;
	color: inherit;
	text-decoration: none;
}

.black3{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 16px;
	color: inherit;
	box-sizing: border-box;
	display: block;
	font-weight: 700;
}

.friday3{
	font-family: sans-serif;
	font-weight: 400;
	line-height: 16px;
	box-sizing: border-box;
	display: block;
	font-size: 9px;
	color: #8995a0;
}

#menus{
	grid-area: menu;
	display: grid;
	grid-template-columns: 7fr 2fr;
	grid-template-areas: "m t";
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px solid rgba(0,0,0,0.1);
}

#itensMenu{
	height: 100%;
	grid-area: m;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.itemMenu{
	font-weight: 550;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.itemMenu a{
	text-decoration: none;
	color: rgba(0,0,0,0.7);
}

.itemMenu i{
	margin-left: 2px;
	
}

#testeVelocidade{
	grid-area: t;
	font-weight: 550;
	letter-spacing: -.01em;
	color: rgba(0,0,0,.7);
	font-family: sans-serif;
	font-size: 14px;
	
	display: flex;
	justify-content: flex-end;
	padding-top: 3%;
}

#testeVelocidade a{
	color: inherit;
}

#testeVelocidade i{
	margin-right: 8px;
}

#noticias{
	grid-area: noticias;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-areas: "maior menor" "slider slider";
	border-top: 2px solid rgba(0,0,0,0.1);
	padding-top: 1.5%;
	align-content: center;
	justify-content: center;
	margin-bottom: -4%;
}

#noticiaMaior{
	grid-area: maior;
	display: grid;
	align-items:center;
	grid-template-rows: 3fr 1fr 1fr;
	grid-template-areas: "imagem" "tag" "titulo";
}

#noticiaMaior a{
	
	font-family: sans-serif;
}

.imagemGrande{
	grid-area: imagem;
	border-radius: 10px;
}

.tag{
	grid-area: tag;
	font-family: sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	
	font-size: 18px;
	letter-spacing: -.02em;
	line-height: 20px;
	margin-top: -5%;
}

.tag a{
	color:#1087ff;
}

.titulo{
	grid-area: titulo;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -.02em;
	line-height: 38px;
	box-sizing: border-box;
	text-decoration: none;
	transition: color .2s;
	margin-top: -14%;
	font-family: sans-serif;
}

.titulo a{
	color: black;
}

#noticiaMenor{
	grid-area: menor;
	display: flex;
	flex-direction: column;
	margin-bottom: 19%;
	justify-content: space-between;
	margin-left: -1.5%;
}

.noticiaMenor1{
	display: grid;
	grid-template-column: 1fr 2fr;
	grid-template-areas: "imagem titulo";
	align-items: center;
	justify-content: start;
}

.noticiaMenor1 a{
	color: black;
}

.noticiaMenor1 img{
	grid-area: imagem;
	border-radius: 10px;
}

.noticiaMenor1 div{
	grid-area: titulo;
	display: flex;
	flex-direction: column;
	margin-left: 3%;
	width: 100%;
}

.noticiaMenorTitulo{
	font-family: sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	color: #1087ff;
	font-size: 17px;
	letter-spacing: -.02em;
	line-height: 20px;
	margin-bottom: 8px;
}

.noticiaMenorTitulo a{
	color: #1087ff;
}

.noticiaMenorDescricao{
	font-family: Source Sans Pro,sans-serif;
	line-height: 24px;
	font-size: 19px;
	font-weight: 700;
	letter-spacing: -.01em;
	box-sizing: border-box;
	text-decoration: none;
}

#sliderImagens{
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: 30px;
	width: 100%;
	grid-area: slider;
}

main{
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
	grid-template-areas: "lidas noticias" "noticias noticias" "noticias noticias" "noticias noticias" "noticias noticias" "noticias noticias";
	border-top: 1px solid rgba(0,0,0,0.1);
	height: 100%;
	padding-top: 4%;
}

.indice{
	font-family: sans-serif;
	font-size: 24px;
	letter-spacing: -.02em;
	line-height: 32px;
	box-sizing: border-box;
	text-decoration: none;
	padding-top: 5%;
}

.data{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.data a{
	color: rgba(0,0,0,0.6);
	background: none;
	border: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	cursor: pointer;
	border-radius: 4px;
	color: #8995a0;
	font-weight: 600;
	line-height: 20px;
	padding: 4px 16px;
	margin-left: 16px;
}

.data #ativo{
	background-color: #f1f5f8;
	color: #3e4851;
	border: 3px solid rgba(16,135,255,0.35);
}

.noticiasIndice{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: 3fr 1fr;
	grid-template-areas: "imagem titulo" "imagem tempo";
	margin-bottom: 5%;
}

.imagemLidas{
	grid-area: imagem;
	display: flex;
	align-items: center;
	padding-right: 10%;
}

.imagemLidas img{
	border-radius: 10px;
}

.numeroImagem{
	background: rgba(0,0,0,0.7);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	font-weight: 600;
	align-items: center;
	justify-content: center;
	margin-top: -25%;
	margin-left: 7%;
}

.numeroImagem a{
	color: white;
}

.tituloLidas{
	grid-area: titulo;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.01em;
	line-height: 22px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tituloLidas a{
	color:#3e4851;
}

.tempo{
	grid-area: tempo;
	font-family: Ssans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.tempo a{
	color: #8995a0;
}


aside{
	grid-area: aside;
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding-left: 8%;
}

#imagemAside{
	width:100%;
	height: 6.5%;
	padding-top: 10%;
}

aside a{
	color: black;
}

#tipo{
	font-family: sans-serif;
	font-size: 24px;
	letter-spacing: -.02em;
	line-height: 32px;
	box-sizing: border-box;
	padding-top: 10%;
	margin-bottom: -2%;
}

.materiaAside{
	display: flex;
	flex-direction: row;
	padding-bottom: 5%;
	padding-top: 8%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	align-items: center;
}

.materiaAside img{
	border-radius: 10px;
}

.conteudo{
	display: flex;
	flex-direction: column;
	padding-left: 8%;
}

#pubAside{
	font-family: sans-serif;
	box-sizing: border-box;
	color: #e2ac55;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
}

#tituloAside{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.01em;
	line-height: 22px;
	box-sizing: border-box;
	color: #444;
}

#horaAside{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
	box-sizing: border-box;
	color: #575757;
}

.tdsReview{
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;
	box-sizing: border-box;
	align-items: center;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	justify-content: center;
	padding: 0;
	text-decoration: none;
	color: #1087ff;
	width: 100%;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 12px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main2{
	grid-area: main2;
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(0,0,0,0.1);
	width: 100%;
	margin-top: -30%;
}

.patrocinio{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	justify-content: space-between;
	align-items: space-between;
	padding-bottom: 2%;
}

.patrocinio1{
	display: flex;
	flex-direction: column;
	padding-top: 3%;
	margin-right: 6%;
	justify-content: center;
	align-items: baseline;
}

.patrocinio1 img{
	min-height: 175px;
	max-height: 175px;
	border-radius: 10px;
}

.tituloAside{
	cursor: pointer;
	text-align: left;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-top: 2px;
	font-weight: 600;
	max-height: 74px;
	margin-bottom: 12%;
}

.tituloAside a{
	color: #030303;
}

.fonteAside{
	cursor: pointer;
	box-sizing: border-box;
	margin: 0;
	color: #525252;
	font-size: 16.0px;
	text-decoration: none;
	font-family: sans-serif;
	text-align: left;
	line-height: 24.0px;
	opacity: .5;
	font-weight: 600;
}

.fonteAside a{
	color: #525252;
}

#tabula{
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: 15px;
}

.ultimas{
	display: flex;
	flex-direction: column;
	
}

.noticiasUltimas{
	display: flex;
	flex-direction: row;
	padding-bottom: 2.5%;
	padding-top: 2.5%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.noticiasUltimas img{
	width: 100%;
	border-radius: 10px;
}

.tituloUltimas{
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -.02em;
	line-height: 28px;
	box-sizing: border-box;
}

.conteudoUltimas{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3%;
}

.descUltimas{
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -.02em;
	line-height: 28px;
	box-sizing: border-box;
}

.descUltimas a{
	color: black;
}

.fonteUltimas{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	box-sizing: border-box;
	white-space: nowrap;
}

.fonteUltimas a{
	color: #8995a0;
}

.maisNoticias{
	font-family: sans-serif;
	box-sizing: border-box;
	margin-top: 48px;
	align-items: center;
	border: 0;
	cursor: pointer;
	justify-content: center;
	text-decoration: none;
	height: 48px;
	background-color: #1087ff;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.01em;
	line-height: 24px;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 4%;
}

footer{
	grid-area: footer;
	width: 108.3%;
	margin-right: -4%;
	margin-left: -4%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-top: 1px solid rgba(0,0,0,0.1);
	background: rgba(233,237,240);
}

footer div{
	min-height: 20px;
}

.categorias{
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	background: #f6f8fa;
	padding-right: 4%;
	padding-left: 4%;
}

.cat{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas: "titulo titulo titulo titulo" "coluna coluna coluna coluna";
	padding: 3% 0 3% 0;
}

.tituloCat{
	grid-area: titulo;
	font-family: sans-serif;
	line-height: 24px;
	box-sizing: border-box;
	color: #414141;
	display: block;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 16px;
	white-space: nowrap;
}

.coluna{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	list-style: none;
	white-space: nowrap;
	box-sizing: border-box;
	letter-spacing: -.01em;
	line-height: 20px;
}

.coluna a{
	color: #414141;
}

.outrosCat{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas: "titulo titulo titulo titulo" "coluna coluna coluna coluna";
	padding: 12% 0 12% 0;
}

.tituloOutros, .tituloCuponsDesc{
	grid-area: titulo;
	font-family: sans-serif;
	line-height: 24px;
	box-sizing: border-box;
	color: #414141;
	display: block;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 16px;
	white-space: nowrap;
}

.cuponsCat{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas: "titulo titulo titulo titulo" "coluna coluna coluna coluna";
	padding: 10% 0 10% 0;
}

.nzn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2.5% 0 2.5% 0;
}

.nznOp{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-right: 4%;
	padding-left: 4%;
}

.nznOp div{
	margin-left: 2%;
	margin-right: .5%;
}

.nznOp a{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 24px;
	box-sizing: border-box;
	background-color: initial;
	color: #030303;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
}

.nznCopy{
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	margin-right: 5%;
}

#copyright{
	font-family: sans-serif;
	color: #030303;
	font-size: 12px;
	line-height: 24px;
	text-align: right;
	box-sizing: border-box;
	font-weight: 600;
}

#direitosReservados{
	font-family: sans-serif;
	color: #030303;
	font-size: 12px;
	line-height: 24px;
	text-align: right;
	box-sizing: border-box;
}

.rodape{
	display: flex;
	flex-direction: row;
	margin-left: 4%;
	margin-right: 5%;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.rodape div{
	font-family: sans-serif;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	font-size: 12.5px;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 1%;
}

.rodape a{
	color: #030303;
}
